@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    background: transparent; 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.hero, .navbar {
    background: linear-gradient(to left, #87A2C8 0%, #284169 100%);
    color: white;
}

.navbar {
    background-color: #284169;
    padding: 1rem 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.appointment-btn {
    background-color: #EBF2F7;
    color: #284169 !important;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.appointment-btn:hover {
    background-color: #D6E4EE;
}

.appointment-btn:active {
    background-color: #D6E4EE;
    transform: scale(0.98);
}

/* Pricing */

.pricing {
    padding: 6rem 0;
    background: white;
}

.pricing .container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: visible;
}

.pricing-content {
    margin: 0 auto 3rem;
}

.pricing-content h1 {
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.2;
    max-width: 600px;
    color: #284169;
}

.pricing-content p {
    color: #284169;
    line-height: 1.8;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.pricing-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.pricing-buttons .btn {
    width: auto;
    padding: 0.75rem 2rem;
}

.btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #284169;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #3b5998;
}

.btn:active {
    background-color: #1d2e4f;
    transform: scale(0.98);
}

.pricing-list {
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
}

.pricing-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EBF2F7;
    color: #284169;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.pricing-item:hover {
    transform: translateY(-5px);
}

.pricing-item h3 {
    margin: 0;
    font-size: 1.2rem;
    flex: 1;
}

.pricing-item p {
    margin: 0 2rem;
    font-size: 1.1rem;
    white-space: nowrap;
}

.pricing-item .price {
    font-size: 0 2rem;
    color: #284169;
    margin: 0 2rem;
    font-weight: bold;
}

.book-btn {
    padding: 0.75rem 1.5rem;
    background-color: #284169;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.book-btn:hover {
    background-color: #3b5998;
}

.book-btn:active {
    background-color: #1d2e4f;
    transform: scale(0.98);
}


/* Contact */

.contact {
    padding: 6rem 0;
    background: #EBF2F7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.contact-content h1 {
    color: #1d3557;
    font-size: 28px;
}

.contact-content h3 {
    padding-top: 2rem;
    font-weight: bold;
    color: #1d3557;
}

.working-hours {
    list-style: none;
    padding: 0;
}

.working-hours li {
    margin-bottom: 5px;
    padding: 0;
    color: #1d3557;
    line-height: 1.6;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    padding-top: 2rem;
}

.social-icons a img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease-in-out;
}

.social-icons a img:hover {
    transform: scale(1.1);
}

.contact-info {
    flex: 1;
    max-width: 55%;
}

.map {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-info p {
    line-height: 1.6;
    margin: 8px 0;
    color: #1d3557;
}

html {
    scroll-behavior: smooth;
}

